

.hero {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .btn {
    background-color: #f90;
    border-color: #f90;
}

.features .feature img {
    height: 300px;
    object-fit: cover;
}

.products .product img {
    height: 300px;
    object-fit: cover;
}
